__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
.venv/
venv/
sandbox/
*.sqlite3
config/pawpatrol/
macos/StopmoXcodeGUI/dist/
qa/reports/
macos/StopmoXcodeGUI/.build/
macos/StopmoXcodeGUI/.swiftpm/xcode/xcuserdata
macos/StopmoXcodeGUI/.swiftpm/xcode/*.xcworkspace
*.xcuserstate
macos/StopmoXcodeGUI/StopmoXcodeGUI.xcodeproj/project.xcworkspace/xcuserdata/kyle.xcuserdatad/UserInterfaceState.xcuserstate
